<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="webchat">
                    <match url=".*" />
                    <action type="Rewrite" url="http://localhost:24/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
